.login-form-container, .login-form {
    /* display:flex;
    flex-direction:column;
    align-items:center; */
    display: grid;
    min-height: 30vh;
    align-items: center; 
    justify-content: center;
    background-color: aquamarine;
}

.login-form-container {
    padding: 4rem;
    border: 5px solid whitesmoke;
    border-radius: 5px;
}

label {
    text-align: left;
    color: rgb(101, 24, 24);
    padding: 0.25rem 0;
}
input {
    margin: 0.25rem 0;
    border-radius: 5px;
    border: none;
}