.portfolio {
    display: grid;
    min-height: 100vh;
    /* background-image: linear-gradient(21deg,#034159 20%, #025951 40%, #02735E ) */
    background-color: #abcea7;
}

.chart {
    display:inline-flexbox;
    justify-content: left;
}
