.regFormContainer, .regForm {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.regFormContainer {
    padding: 4rem;
    border: 5px solid rgb(44,62,80);
    border-radius: 10px;
}

input {
    margin: 0.25rem 0;
    margin-bottom: 20px;
}